.UserLineChart {
    width : 100%;
    height : auto;
}
.recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line, .recharts-legend-icon {
    stroke : none;
}

.recharts-text {
    fill : white;
}

.recharts-line-curve {
    stroke : white;
}
.HoverClass {
    fill: #bbb;
}

