.UserRadarChart {
    width : 100%;
    height : auto;
}

.recharts-polar-angle-axis-tick-value {
    fill : white;
}

.recharts-polar-radius-axis-tick-value {
    fill:none;
}

.radiusAxis {
    stroke: none;
}