.proxy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40vh;
}

.proxy a {
    padding: 15px;
    background-color: red;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
}