.UserRadialBarChart {
    width: 100%;
    height: auto;
}


.radialBarChartContainer {
    position: relative;
}

.label {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 24px;
    font-size: 20px;
}

.score {
    font-size: 24px;
    font-weight: bold;
}