.ErrorBody {
    text-align: center;
    margin-bottom: 50px;
}

.ErrorTitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 288px;
    line-height: 410px;
    color : #F00;
    padding: 30px;
}

.ErrorText {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    color : black;
    padding: 30px;
}

.ErrorBody a {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline;
    color: black;
    padding: 30px;
}